@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: "Oswald", "sans-serif";
    --font-body: "Inter", "sans-serif";
}

body {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}